img {
    width: 100%;
}

.container {
    margin-top: 20px;
}

.btn {
    margin: 2px;
}

.btn-link {
    margin: 0px !important;
}

.card-title {
    margin-top: 10px;
}

.card {
    padding: 5px;
}

.list-group {
    max-height: 60vh;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.btn-link-red {
    color: red !important;
}

.item-deleted {
    color: gray;
    text-decoration-line: line-through;
    -moz-text-decoration-line: line-through;
}


video {
    width: 100%;
}